@charset "UTF-8";

#side_banner ul {
    display: flex;
    justify-content: space-between;
}

#wrapper {
    width: 1000px;
    display: flex;
}

#main {
    width: 700px;
    background-color: #ccffcc;
}

#global_navi {
    width: 300px;
    background-color: #ccccff;
}
 header{
     width: 1000px;
    background-color:#ffcccc;
}
 footer{
     width: 1000px;
    background-color:#ffccff;
}